nav {
    position: fixed;
    top: 0px;
    left: 0px;
}

.sectionn {
    position: static;
    right: 20px;
    bottom: 20px;
}

.div1 {
    position: sticky;
}


footer {
    position: fixed;  
    bottom: 0;
}