* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 800px;
    margin-top: 200px;
}

p {
    margin-top: 20px;
    font-size: 14px;
}
button {
    padding: 10px 20px;
    background-color:  hsl(0, 0%, 20%);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 8px;
    width: 270px;
    
}
h3 {
    color: hsl(75, 94%, 57%); 
}
## Colors

- Green: hsl(75, 94%, 57%)

- White: hsl(0, 0%, 100%)

- Grey 700: hsl(0, 0%, 20%)
- Grey 800: hsl(0, 0%, 12%)
- Grey 900: hsl(0, 0%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 600, 700

